.head{
    color: gray;
}
.second{
    height: 50px;
}
.third{
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    color: lightgray;
}

.button{
    background-color: black;
    height: 40px;
    border-radius: 10px;
    color: gray;
    width: 80px;
}
.button:hover{
    background-color: rgb(44, 43, 43);
    box-shadow: 0 0 3px 3px white;
}