.first{
    height: 60px;
    align-items: center;
}
.input{
    height: 30px;
}
.butt{
    width: 150px;
    padding: 2px;
    height: 30px;
    border: 1px solid white;
    color: lightgray;
}